<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h4>데이터 전송 결과 페이지</h4>
  <h5><%= title %></h5>
  <div><span><%= userInfo.name %></span>님 환영합니다</div>
  <div><%= userInfo.name %>님의 생일은 <span><%= userInfo.year %>년 <%= userInfo.month %>월 <%= userInfo.date %>일</span></div>
  <div><span><%= userInfo.name %></span>님의 관심사는 <%= userInfo.hobby %>입니다</div>
  <div><%= userInfo.name %>님이 좋아하는 색은  <span><%= userInfo.color %> 색</span></div>
  <br />
  <br />
  <a href="/">홈으로 이동</a>
</body>
</html>